:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    background-color: rgb(249, 250, 252);
    --primary-orange: rgb(243, 157, 9);
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.container h1 {
    font-size: 40px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: 400;
}

.container .title-underline {
    background-color: var(--primary-orange);
    border-width: 1px;
    width: 7rem;
    height: 0.25rem;
    margin-bottom: 40px;
}
.filters {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.filterButton {
    background-color: var(--primary-orange);
    color: white;
    padding: 8px 15px 8px 15px;
    border: none;
    font-size: 17px;
    border-radius: 7px;
    font-weight: bolder;
    text-transform: capitalize;
    margin-right: 15px;
}

.filterButton:hover {
    border: none;
    background-color: rgb(191, 97, 14);
    box-shadow: 8px 8px 10px 2px rgb(220, 216, 216);
    cursor: pointer;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.food {
    border: solid 1px whitesmoke;
    width: calc(100% / 3.3);
    margin-bottom: 40px;
    background-color: rgb(255, 252, 252);
    box-shadow: 0px 1px 6px 6px rgb(245, 242, 238);
}

.img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
}

.title {
    padding: 0px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
}

.title .foodName {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.title .price {
    background-color: var(--primary-orange);
    color: white;
    font-size: 20px;
    padding: 3px 15px;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 5px;
}

.foodDescription {
    padding: 0px 15px 15px 15px;
    font-size: 18px;
    letter-spacing: 0.04rem;
    margin-top: 0;
    color: rgb(123, 135, 145);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    .filters {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .filterButton {
        margin-bottom: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu .food {
        width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu .food {
        width: 70%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 950px) {
    .container {
        width: 80%;
        flex-direction: column;
    }
    .menu {
        flex-flow: row wrap;
    }
    .menu .food {
        width: calc(100% / 2.2);
    }
}

@media only screen and (min-width: 1350px) {
    .container {
        width: 70%;
    }
    .menu .food {
        width: calc(100% / 3.2);
    }
}
